p{
    color: black;
}
h1{
    color: white;
}
h2{
    color: aquamarine;
}
h3{
    color: aquamarine;
}
body{
    background-color: black;
}
#contenedor{
    width: 50%;
    height: 50%;
    text-align: center;
    border: 3px white solid;
    background-color: darkolivegreen;
    margin: 5% auto;
}